.about-us{
    background: #1b1b1b;
    text-align: center;
    height: auto;
}
.about-us h4{
    font-family: poppins, sans-serif;
    font-size: 35px;
    padding: 25px 0;
    color: #ffffff;
    
}
.about-us h4 i{
    padding: 0 10px;
}
.about-us p{
    color: cyan;
    font-family: poppins, sans-serif;
    font-size: 21px;
    padding: 100px 50px;
    margin: 0;
}

.footer, .copyright{
    background: #151515;
}