body{
    background: #1b1b1b;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.icons .icon{
    background: #151515;
    margin: 20px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    width: 210px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
  
}
.icons .icon a{
    text-decoration: none;
}
.icons .icon i{
    font-size: 100px;
    padding: 30px 0;

}
.icons .icon i.fa-html5{
    color: #e44d26;
}
.icons .icon i.fa-css3-alt{
    color: #4c6ef5;
}
.icons .icon i.fa-js{
    color: yellow;
}
.icons .icon i.fa-bootstrap{
    color: #7311f6;
}

.icons .icon i.fa-java{
    color: #0d8ac7;
}
.icons .icon i.fa-swift{
    color: #fd2621;
}
.icons .icon img{
    width: 100px;
    padding: 30px 0;
}
.icons img.c{
    width: 120px;
    padding: 22px 0;

}
.icons .icon h6{
    font-size: 30px;
    padding: 15px 0;
    font-family: poppins, sans-serif;
    color: #ffffff;
}
.footer, .copyright{
    background: #151515;
}